[Unit]
Description=Renews NNTP server
After=network.target
Requires=renews-nntp.socket
Wants=renews-nntps.socket

[Service]
Type=simple
ExecStart=/usr/local/bin/renews
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/var/lib/renews
Restart=on-failure
User=renews
Group=renews
# Don't restart if we exit due to configuration reload
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target

