[Unit]
Description=Renews NNTPS Server Socket
PartOf=renews.service

[Socket]
ListenStream=563
BindIPv6Only=both
FDName=nntps

[Install]
WantedBy=sockets.target